<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>davewasmer.marathon.marathond</string>
        <key>ProgramArguments</key>
        <array>
                <string>NODE</string>
                <string>EXEC</string>
        </array>
        <key>StandardOutPath</key>
        <string>LOG</string>
        <key>StandardErrorPath</key>
        <string>LOG</string>
        <key>WorkingDirectory</key>
        <string>WORKINGDIR</string>
        <key>EnvironmentVariables</key>
        <dict>
                <key>PATH</key>
                <string>PATHEXPORT</string>
        </dict>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
</dict>
</plist>
